/* You can add global styles to this file, and also import other style files */
body {
}

.sortButton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#tableOfGoods {
    margin-top: 100px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#filterSettings {
    float: left;
    margin-left: 10px;
}

#createEdit {
    margin-top: 100px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#deleteQuestion {
    margin: auto;
    margin-top: 100px;
    width: 1024px;
    height: 200px;
    text-align: center;
    font-size: 16px;
            
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

